In [11]:
import pandas as pd
from IPython.display import display
from IPython.display import Image


tableA_raw = {
  'tac': [1,2,3],
  'a': ["a1","a2","a3"],
}
dfA = pd.DataFrame(tableA_raw, columns = ['tac', 'a'])
dfA

tableB_raw = {
  'tac': [3,4,5],
  'b': ["b3","b4","b5"],
}
dfB = pd.DataFrame(tableB_raw, columns = ['tac', 'b'])
dfB

dfNew = dfA.set_index('tac').join(dfB.set_index('tac'),how="left", lsuffix='_caller', rsuffix='_other')
# dfNew = pd.merge(dfA, dfB, on='tac', how='left')
dfNew

   tac   a    b
0    1  a1  NaN
1    2  a2  NaN
2    3  a3   b3